._*
.~lock.*
.buildpath
.DS_Store
.idea
nbproject
.project
.settings
composer.lock
composer.phar
_reports
.lock
/build/
/tmp/
*.aux
*.log
*.toc
*.ind
*.ilg
*.bbl
*.blg
*.lo[fpt]
*.snm
*.nav
*.out
*.vrb
*.run.xml
*.bcf
*.soc
*.idx
*.glo
*.gls
*.gz
*.pdf
*.pdfsync
*.synctex